.row.clients
  = link_to "+ Add New Client", new_client_path, class: 'button medium eight-button clients-button'
  .small-12.columns.clients-box
    - @clients.each do |client|
      .row
        .small-6.columns
          %h4.eight-link= link_to client.name, edit_client_path(client)
          %p Google Analytics View ID: #{client.google_analytics_view_id}
        .small-6.columns
          = link_to "+ New Campaign", new_client_campaign_path(client), class: 'button small eight-button'
      - if client.campaigns.any?
        - client.campaigns.each do |campaign|
          .callout
            %p= campaign.name
            %ul
              - campaign.campaign_channels.each do |campaign_channel|
                %li
                  %strong
                    = name(campaign_channel.client_channel)
                  UID:
                  = campaign_channel.uid
            = link_to 'Edit Campaign', edit_client_campaign_path(client, campaign)

      - else
        No campaigns added yet.
