.row.clients
  .small-12.columns
    = link_to "+ Add New Client", new_client_path, class: 'button medium eight-button clients-button'
    - @clients.each do |client|
      .clients-box.callout
        .row
          .small-6.columns.clients-box-name
            %h4.eight-link
              = link_to client.name, edit_client_path(client), class: 'clients-box-client-link'
          .small-6.columns.clients-box-new-campaign
            = link_to "+ New Campaign", new_client_campaign_path(client), class: 'button small eight-button'
        - if client.campaigns.any?
          .row
            %table.client-table
              %thead
                %tr
                  %th{width: "60%"} Campaign Name
                  %th{width: "40%"} Channels
              %tbody
                - client.campaigns.each do |campaign|
                  %tr
                    %td
                      = link_to edit_client_campaign_path(client, campaign), class: 'clients-box-campaign-link' do
                        = campaign.name
                    %td= campaign.campaign_channels.map { |c| c.client_channel.nice_name }.join(', ')




        - else
          No campaigns added yet.

:javascript
  - scollableTable();

