.row
  .small-12.columns.client-back
    = link_to "← back to all clients", clients_path, id: 'back-link', class: 'client-link'

.row.addClient
  .large-6.columns
    %h3.eight-header.addCampaign-header Add Client
    = form_for @client, url: {action: "create"} do |client_form|
      - if @client.errors.any?
        %ul
          - @client.errors.full_messages.each do |msg|
            %li= msg
      = client_form.label :name, "Client Name"
      = client_form.text_field :name, required: true
      = client_form.label :google_analytics_view_id, "Google Analytics Account ID"
      %p.form-helper In Google Analytics Admin section: select 'Account Name', select 'Property', click 'View Settings', and copy the 'View ID'
      = client_form.text_field :google_analytics_view_id

      = client_form.fields_for :client_channels do |f|
        %h4 Client account on #{f.object.nice_name}?
        = f.label :uid, "Unique account ID"

        %p.form-helper
          - if f.object.nice_name == 'Facebook'
            Select the relevant account from dropdown menu in the top left hand corner of your Facebook Ad Account. Copy the account ID as it appeaars next to the account name, or from the URL

        = f.hidden_field :type, value: f.object.class.name
        = f.text_field :uid

      = client_form.submit "Add Client", class: 'button small eight-button'
