.row
  .small-12.columns.homeForm
    %h3.homeForm-header Report Search
    = form_tag (reports_path), method: "get" do
      = label_tag "Client"
      = select_tag :client, options_for_select(@clients.collect { |c| [c.name, c.id] }), prompt: 'Select client', id: 'client_select'
      = label_tag "Campaign"
      = select_tag :campaign, options_for_select(@campaigns.collect { |campaign| [campaign.name.titleize, campaign.id] }, 0), prompt: 'Select client campaign', id: 'campaigns_select'
      = label_tag "Channel"
      = select_tag :channel, options_for_select([['Facebook', 'ClientChannels::Facebook'],['Twitter', 'ClientChannels::Twitter']]), multiple: true
      = label_tag "Date From"
      = date_field_tag :date_from, Date.yesterday.strftime('%Y-%m-%d')
      = label_tag "Date To"
      = date_field_tag :date_to, Date.yesterday.strftime('%Y-%m-%d')
      = submit_tag "Submit", class: "button small homeForm-submit"