.row
  .small-12.columns.homeForm
    %h3.eight-header Report Search
    = form_tag (reports_path), method: "get" do
      = label_tag "Client *"
      = select_tag :client, options_for_select(format_options(@clients)), prompt: 'Select client', id: 'client_select', required: true
      = label_tag "Campaign *"
      = select_tag :campaign, options_for_select(@campaigns ? format_options(@campaigns) : ''), prompt: 'Select client campaign', id: 'campaigns_select', required: true
      = label_tag "Channel *"
      = select_tag :channel, options_for_select([['Select campaign', '']]), multiple: true, required: true
      = label_tag "Date From"
      = date_field_tag :date_from, 8.days.ago.strftime('%Y-%m-%d')
      = label_tag "Date To"
      = date_field_tag :date_to, 1.day.ago.strftime('%Y-%m-%d')
      = submit_tag "Submit", class: "button small eight-button", data: {disable_with: "Fetching report..."}