.row
  .small-12.columns.client-back
    = link_to "â† back to all clients", clients_path, id: 'back-link', class: 'client-link'

.row.editCampaign
  .large-6.columns
    %h4 Edit campaign for #{@client.name}

    = form_for [@client, @campaign] do |campaign_form|
      - if @campaign.errors.any?
        %ul
          - @campaign.errors.full_messages.each do |msg|
            %li= msg
      = campaign_form.label :campaign_name
      = campaign_form.text_field :name

      = campaign_form.fields_for :campaign_channels do |f|
        %h4 Campaign on #{name(f.object.client_channel)}
        = f.label :uid, "Unique Account ID"
        = render partial: '/campaigns/partials/new_campaign_form_helper', locals: {channel: f.object.client_channel.nice_name}
        = f.hidden_field :client_channel_id, value: f.object.client_channel.id
        = f.text_field :uid
        
        = f.label "Google Analytics Campaign Name"
        %p.form-helper In the client's Google Analaytics dashboard, go to 'Acquisition' and select 'All Campaigns' from the Campaign dropdown in left hand menu, copy the campaign name
        = f.text_field :google_analytics_campaign_name

        - if f.object.persisted?
          = f.label :_destroy, "Remove campaign on #{f.object.client_channel.nice_name}"
          = f.check_box :_destroy
          %br
      = campaign_form.submit "Update Campaign", class: 'button small eight-button'

    = link_to "Delete Campaign", client_campaign_path(@client, @campaign), :confirm => "Are you sure?", :method => :delete