.row
  .small-12.columns
    %h4 New Campaign for #{@client.name}

    = form_for @campaign, url: {action: "create"} do |campaign_form|
      - if @campaign.errors.any?
        %ul
          - @campaign.errors.full_messages.each do |msg|
            %li= msg
      = campaign_form.label :campaign_name
      = campaign_form.text_field :name

      - @channels.each do |client_channel, campaign_channel|
        %h4 Campaign on #{name(client_channel)} ?
        = fields_for "campaign_channels[]", campaign_channel do |f|
          = f.label "Unique ID"
          = f.hidden_field :client_channel_id, value: client_channel.id
          = f.text_field :uid

      = campaign_form.submit "Add Campaign", class: 'button small'
