.row.addCampaign
  .small-12.columns
    %h3.eight-header.addCampaign-header Add Campaign
    = form_for @campaign, url: {action: "create"} do |campaign_form|
      - if @campaign.errors.any?
        %ul
          - @campaign.errors.full_messages.each do |msg|
            %li= msg
      = campaign_form.label :name
      = campaign_form.text_field :name

      = campaign_form.fields_for :campaign_channels do |f|
        %h4 Campaign on #{name(f.object.client_channel)} ?
        = f.label "Unique ID"
        = f.hidden_field :client_channel_id, value: f.object.client_channel.id
        = f.text_field :uid

      = campaign_form.submit "Add Campaign", class: 'button small'
