.row
  .small-12.columns.searched
    %h4 Your search...
    %table#metrics-table
      %thead
        %tr
          %th Client
          %th Campaign
          %th Channel(s)
          %th From
          %th To
      %tbody
        %tr
          %td= @client.name
          %td= @campaign.name
          %td= params[:channel].join(", ")
          %td= params[:date_from]
          %td= params[:date_to]

    %h4 Your results...
    - if @summary_report.any?
      %table
        %tr
          - @summary_report[:header_row].each do |header_item|
            %th= header_item
        - @summary_report[:data_rows].each do |row|
          %tr
            - row.each do |item|
              %td.metric= item

    = link_to 'Download', reports_path(format: 'csv', client: @client.id, campaign: @campaign.id, channel: params[:channel], date_from: params[:date_from], date_to: params[:date_to]), class: 'small button eight-button'