.row
  .small-12.columns.searched
    %h4 Your search...
    %table
      %thead
        %tr
          %th Client
          %th Campaign
          %th Channel(s)
          %th From
          %th To
      %tbody
        %tr
          %td= @client.name
          %td= @campaign.name
          %td= params[:channel].join(", ")
          %td= params[:date_from]
          %td= params[:date_to]

    %h4 Your results...
    - if @results.any?
      %table
        - @results.each do |campaign_channel|
          - campaign_channel.each do |metric, value|
            %tr
              %th= metric
              %td= value
