.row
  .small-12.columns.searched
    %h2 All reports
.row
  .small-12.columns
    %table
      %thead
        %tr
          %th Created
          %th Report title (click to download)
          %th Status
          %th Delete
      %tbody
        - @reports.each do |report|
          %tr
            %td= report.created_at.strftime("%d/%m/%Y")
            - if report.csv.exists?
              %td
                = link_to download_dataset_path(report) do
                  = report.title
              %td
                - if report.status
                  = report.status
              %td
                = link_to "X", dataset_path(report), "data-confirm": "Are you sure you want to delete this report?", method: :delete
            - else
              %td
                = report.title
              %td
                - if report.status
                  = report.status
              %td
                - if report.status == 'failed'
                  = link_to "X", dataset_path(report), "data-confirm": "Are you sure you want to delete this report?", method: :delete


            

    