.row
  .small-12.columns.searched
    %h4 Your search...
    %table
      %thead
        %tr
          %th Client
          %th Campaign
          %th Channel
          %th From
          %th To
      %tbody
        %tr
          %td= @client.name
          %td= @campaign.name
          %td= params[:channel]
          %td= params[:date_from]
          %td= params[:date_to]

    %h4 Your results...
    - if @results.any?
      %table
        %tr
          %th Adset ID
          %th Ad ID
          %th Impressions
      