!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title eight&four
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .top-bar
      .top-bar-title
        = link_to root_path do
          = image_tag('eight&four_logo.png')
      %div
        .top-bar-right
          %ul.menu
            %li
              %a{href: '/'} Home
    = yield
