!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title eight&four
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
  %body
    .top-bar
      .top-bar-title.small-6.columns
        = link_to root_path do
          = image_tag('eight&four_logo.png')
      .small-6-columns
        .top-bar-right#client-button
          %ul.menu
            %li
              = link_to "Clients", clients_path, class: 'eight-button'
    = yield
